@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';

html {
  background-color: #333;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 425px;
  height: 900px;
  background-color: white;
}

.swiper-wrapper {
  height: 100%;
}

.banner {
  .swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s;
  }
  .swiper-slide-active {
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #f6339a;
  }
}

.content {
  .swiper-slide {
    overflow: scroll;
  }
}
